@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #031b2d;
}

.main-container {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7);
}
.contenedor-img {
  background: rgb(204, 158, 214);
  background: radial-gradient(
    circle,
    rgba(204, 158, 214, 1) 36%,
    rgba(104, 141, 214, 0.8346988453584558) 78%
  );
  height: 550px;
  width: 400px;
}
img {
  width: 280px;
  height: auto;
}
.contenedor {
  color: white;
  background-color: #031b2d;
  width: 400px;
  height: 550px;
}
.form-control {
  background-color: #031b2d;
  color: white;
}
.form-control:focus {
  background-color: #031b2d;
  color: white;
  border-color: #99bfe7;
  box-shadow: none;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.btn-custom {
  width: 150px;
  background-color: #99bfe7;
  color: black;
}
