.gradient-custom {
    /* fallback for old browsers */
    background: #9261ee;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(145, 77, 218), rgb(108, 175, 226));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(169, 74, 210), rgb(118, 196, 233))
    }